{% extends "layout.html" %}

{% block search_area %}
<form action="top">
    <input type="text" name="id" placeholder="Type arXiv ID">

    <select name="n_recommendations" id="n_recommendations">
        <option value=10>Top 10</option>
        <option value=25>Top 25</option>
        <option value=50>Top 50</option>
        <option value=100>Top 100</option>
    </select>

    <select name="category" id="category">
        <option value="">Whole arXiv</option>
        {% for category in categories %}
            <option value={{ category }}>{{ category }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Submit">
</form>
{% block results %}{% endblock %}
{% endblock %}
